/* Styles are organized as they appear on the pages
 top to bottom with respect to grouping */

label{
    display: inline-block;
    padding-right: 8px;
}
form.visited-form{
    display: inline;
}
div.wishlist-place{
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}
span.place-name{
    display: inline-block;
    width: 70%;
    width: 100px;
}
button{
    border-radius: 5px;
}
button.visit-button{
    display: inline-block;
    margin-left: 142px;    
}
ul{
    list-style-type: none;
    margin-left: 45px;
    background-color: rgb(202, 240, 240);
    width: 100px;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}
a.nav-link{
    padding-right: 10px;
}
.delete{
    background-color: tomato;
    border-color: pink;

}
#site-header {
    background: 0 0 repeat-x;
    color: white;
    padding: 40px 0 40px 0;
    text-align: center;
}